<div class="container">
{% if rows %}
	<div id="js-filters-awesome-work" class="cbp-l-filters-work">
		<div data-filter="*" class="cbp-filter-item-active cbp-filter-item"> {{ 'SHOW ALL'|t }} </div>
		{{ 'Portfolio categories'|get_list_term|raw }}
	</div>
	<div id="js-grid-awesome-work" class="cbp cbp-l-grid-work">
		{{ rows }}
	</div>
	{% if pager %}
	<div class="view-pager">
		{{ pager }}
	</div>
	{% endif %}
{% endif %}	
</div>