<div class="container masonry">
{% if rows %}
	<div id="js-filters-masonry" class="cbp-l-filters-alignRight">
		<div data-filter="*" class="cbp-filter-item-active cbp-filter-item"> {{ 'All'|t }}
			<div class="cbp-filter-counter"></div>
		</div>
		{{ 'Portfolio categories'|get_list_term|raw }}
	</div>
	<div id="js-grid-masonry" class="cbp">
		{{ rows }}
	</div>
	{% if pager is not empty %}
	<div class="view-pager">
		{{ pager }}
	</div>
	{% endif %}
{% endif %}
</div>