{#
/**
 * @file
 * Default theme implementation for a 'form' element.
 *
 * Available variables:
 * - attributes: A list of HTML attributes for the wrapper element.
 * - children: The child elements of the form.
 *
 * @see template_preprocess_form()
 */
#}
<div id="sky-form" class="sky-form">
	<fieldset>
		{{ element|render|str_replace('<label for="edit-name"', '<label for="edit-name" class="label al_left"')|str_replace('<label for="edit-subject-0-value"', '<label for="edit-subject-0-value" class="label al_left"')|str_replace('<label for="edit-field-comment-body-0-value"', '<label for="edit-field-comment-body-0-value" class="label al_left"')|raw }}
	</fieldset>
</div>