{#
/**
 * @file
 * Theme override for a 'form' element.
 *
 * Available variables
 * - attributes: A list of HTML attributes for the wrapper element.
 * - children: The child elements of the form.
 *
 * @see template_preprocess_form()
 */
#}
<form{{ attributes }}>
	<div class="row">
  		{{ children|render|str_replace_first('class="form-date"', 'class="input-text-full form-date"')|str_replace_first('class="button', 'class="btn black-button fullwide uppercase button')|str_replace_first('form-actions', 'col-sm-3 form-actions')|raw }}
  	</div>
</form>
