.md-layer-7-12-0 {
background: #000000;
 z-index: 995 !important;}
.md-layer-7-12-1 {
z-index: 996 !important; color: #ffffff !important;
 font-size: 2.75em;
 font-weight: 700;
 font-family: "Roboto";
}
.md-layer-7-12-2 {
z-index: 997 !important; color: #ffffff !important;
 font-size: 1.6666666666667em;
 font-weight: 100;
 font-family: "Roboto";
}
.md-layer-7-12-3 {
z-index: 998 !important; color: #ffffff !important;
 text-align: justify;
 font-size: 3.25em;
 font-weight: 400;
 font-family: "Roboto";
}
.md-layer-7-12-4 {
z-index: 999 !important; color: #ffffff !important;
 font-size: 1.25em;
 font-weight: 400;
 font-family: "Roboto";
}
.md-layer-7-12-5 {
z-index: 1000 !important; color: #ffffff !important;
 font-size: 1.25em;
 font-weight: 400;
 font-family: "Roboto";
}
.md-layer-7-13-0 {
background: #000000;
 z-index: 2 !important;}
.md-layer-7-13-1 {
z-index: 2 !important; color: #ffffff !important;
 font-size: 2.75em;
 font-weight: 700;
 font-family: "Roboto";
}
.md-layer-7-13-2 {
z-index: 2 !important; color: #ffffff !important;
 font-size: 1.6666666666667em;
 font-weight: 100;
 font-family: "Roboto";
}
.md-layer-7-13-3 {
z-index: 2 !important; color: #ffffff !important;
 text-align: justify;
 font-size: 3.25em;
 font-weight: 400;
 font-family: "Roboto";
}
.md-layer-7-13-4 {
z-index: 2 !important; color: #ffffff !important;
 font-size: 1.25em;
 font-weight: 400;
 font-family: "Roboto";
}
.md-layer-7-13-5 {
z-index: 2 !important; color: #ffffff !important;
 font-size: 1.25em;
 font-weight: 400;
 font-family: "Roboto";
}
.md-layer-7-14-0 {
background: #000000;
 z-index: 2 !important;}
.md-layer-7-14-1 {
z-index: 2 !important; color: #ffffff !important;
 font-size: 2.75em;
 font-weight: 700;
 font-family: "Roboto";
}
.md-layer-7-14-2 {
z-index: 2 !important; color: #ffffff !important;
 font-size: 1.6666666666667em;
 font-weight: 100;
 font-family: "Roboto";
}
.md-layer-7-14-3 {
z-index: 2 !important; color: #ffffff !important;
 text-align: justify;
 font-size: 3.25em;
 font-weight: 400;
 font-family: "Roboto";
}
.md-layer-7-14-4 {
z-index: 2 !important; color: #ffffff !important;
 font-size: 1.25em;
 font-weight: 400;
 font-family: "Roboto";
}
.md-layer-7-14-5 {
z-index: 2 !important; color: #ffffff !important;
 font-size: 1.25em;
 font-weight: 400;
 font-family: "Roboto";
}