.md-layer-4-7-0 {
z-index: 998 !important; color: #ffffff !important;
 font-size: 5.5833333333333em;
 font-weight: 100;
 font-family: "Roboto";
}
.md-layer-4-7-1 {
z-index: 999 !important; color: #ffffff !important;
 font-size: 5.25em;
 font-weight: 400;
 font-family: "Roboto";
}
.md-layer-4-7-2 {
z-index: 1000 !important; color: #ffffff !important;
 font-size: 1.3333333333333em;
 font-weight: 400;
 font-family: "Roboto";
}