<div class="twitter">
	<ul{{ attributes }}>
	    {% for tweet in items %}
	        <li class="tweet">
	        	<i class="fa fa-twitter"></i>
	        	{{ tweet.text|striptags('<a>')|raw }}<br>
	            {% trans %}{{ tweet.time_ago }} ago{% endtrans %}
	        </li>
	    {% endfor %}
	</ul>
</div>